
input:focus {
	border-color: #68A4C4;
}


#sendmessage {
	color: #68A4C4;
}

.pullquote-left {
	border-left:5px solid #68A4C4;
}

.pullquote-right {
	border-right:5px solid #68A4C4;
}

/* cta */

.cta-text h2 span {
	color: #68A4C4;
}

ul.clients li:hover {
	border:4px solid #68A4C4;
}

/* box */
.box-bottom {
	background:#68A4C4;
}

/* buttons */
.btn-dark:hover,.btn-dark:focus,.btn-dark:active  {
  background: #68A4C4;
  border:1px solid #68A4C4;
}

.btn-theme {
  border:1px solid #68A4C4;
  background: #68A4C4;
}

/* modal styled */
.modal.styled .modal-header {
  background-color: #68A4C4;
}


/* blog */
.post-meta {
	border-top:1px solid #eee;
	padding-top: 15px;
	color: #aeaeae;
}

.post-meta .comments a:hover  {
	color:#68A4C4;
}

.widget ul.tags li a:hover {
	background: #68A4C4;
}

.recent-post .text h5 a:hover{
	color:#68A4C4;
}

/* pricing box */

.pricing-box-alt.special .pricing-heading {
	background: #68A4C4;
}


/* portfolio */
.item-thumbs .hover-wrap .overlay-img-thumb {
	background: #68A4C4;	
}


/* pagination */
#pagination a:hover {
    background: #68A4C4;
}

/* pricing box */
.pricing-box.special .pricing-offer{
	background: #68A4C4;
}


/* fontawesome icons */
.icon-square:hover,
.icon-rounded:hover,
.icon-circled:hover {
    background-color: #68A4C4;
}
[class^="icon-"].active,
[class*=" icon-"].active {
    background-color: #68A4C4;
}

/* fancybox */
.fancybox-close:hover {
	background-color:#68A4C4;
}
.fancybox-nav:hover span {
	background-color:#68A4C4;
}

/* parallax c slider */
.da-slide .da-link:hover{
	background: #68A4C4;
	border: 4px solid #68A4C4;
}

.da-dots span{
	background: #68A4C4;
}

/* flexslider */
#featured .flexslider .slide-caption {
	border-left:5px solid #68A4C4;
}

/* Nivo slider */
.nivo-directionNav a:hover {
    background-color: #68A4C4;
}
.nivo-caption, .caption {
	border-bottom: #68A4C4 5px solid;
}

/* footer */

#sub-footer{
	background:#68A4C4;
}

